<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}
  {% include google_analytics.html %}

  <body>

    <div class="container content">
      <div class="masthead">
        <div class="masthead-title">
          <a href="/" title="Home">{{ site.title }}</a>
		  <br>
          {% for page in site.pages_list %}
		  <div class="nav">
		  <ul>
			  <li>
             <small><a href="{{ page[1]  }}">{{ page[0] }}</a></small>
		 </li>
	 </ul>
 </div>
 
          {% endfor %}

        </div>
      </div>

      {{ content }}

      {% include comments.html %}
<form method="get" id="search" action="http://duckduckgo.com/">
   <input type="hidden" name="sites"value="claycarson.net"/>
   <input type="hidden" name="ka" value="h"/>
   <input type="hidden" name="k7" value="w"/>
   <input type="hidden" name="kj" value="w"/>
   <input type="hidden" name="ky" value="e"/>
   <input type="hidden" name="kx" value="i"/>
   <input type="hidden" name="kt" value="PT Sans"/>
   <input type="text" name="q" maxlength="350" placeholder="Search"/>
   <input type="submit" value="DuckDuckGo Search" style="visibility: hidden;" />
</form>
      <div class="footer">
		  <p>
		  Follow <a href="http://twitter.com/claycarson">@claycarson</a> on Twitter. Subscribe to this site's <a href="/atom.xml">RSS Feed</a>.
	  </p>
        <p>
          &copy; {{ site.time | date: '%Y' }}. All rights reserved.
		
        </p>
      </div>
    </div>

  </body>
</html>
